@charset "UTF-8";
/*------------------------------------ icons ------------------------------------*/
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.svg?version=1.2') format('svg'), url('../fonts/icomoon.woff?version=1.2') format('woff'), url('../fonts/icomoon.eot?version=1.2') format('embedded-opentype'), url('../fonts/icomoon.ttf?version=1.2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class*="icon-"] {
    font-family: 'icomoon';
    font-style: normal;
    speak: none;
}

.icon-arrow-up:before {
    content: "\e600";
}




/*------------------------------------ font styles ------------------------------------*/
body {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    height: auto;
}

html, body, div, div a, a, nav, section, article, header, aside{
    padding:0;
    margin:0;
    border:0;
    list-style:none;
    text-decoration: none;
}

::selection {
    background-color: #1A9FFF;
    color: #fff;
}

a {
    color: #1A9FFF;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

body{
    padding-bottom: 150px;
}
.clear_both{
    clear: both;
}


/*------------------------------------ top nav ------------------------------------*/


#top_nav{
    position: relative;
    width: 100%;
    height: 15px;
    background-color: #333333;
    z-index: 2;
}

/*------------------------------------ section header ------------------------------------*/
section#header{
    position: relative;
    height: 200px;
    border-bottom: 1px solid #cccccc;
    box-shadow: 0 -1px 5px 1px #eeeeee;
    background-color: rgba(252,252,252,0.9);
    z-index: 1;
}


#intro_wrap{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

#intro{
    padding-top: 50px;
    color: #333333;
}
.name{
    font-size: 34px;
    font-family: "ff-tisa-web-pro", Georgia, Cambria, "Times New Roman", Times, serif;
}
.email{
    font-size: 24px;
    font-weight: lighter;
    line-height: 80px;
}
.email a{
    color: #333333;
}
.email a:hover{
    color: #1A9FFF;
}