@charset "UTF-8";

.center_section{
    width: 90%;
    max-width: 900px;
    margin: 30px auto 30px auto;
    color: #333333;
    line-height: 1.45;
}

.section_header{
    font-size: 28px;
    line-height: 1;
    padding-left: 15px;
    border-left: 8px solid hsl(26,100%,60%);
    margin-top: 60px;
    margin-bottom: 30px;
}

#education_table td{
    padding-bottom: 20px;
    vertical-align: top;
}

.first_td{
    width: 160px;
}

.section_subheader{
    font-size: 24px;
    font-weight: bold;
}

