@charset "UTF-8";

#alert {
    position: fixed;
    top: 40px;
    z-index: 120;
    width: 100%;
    text-align: center;
    display: none;
}

#alert-text {
    max-width: 1000px;
    display: inline-block;
    color: white;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    padding: 5px 25px 10px 25px;
    text-shadow: 0 1px 2px #000;
    border-radius: 0 0 5px 5px;
    background-color: hsla(26, 100%, 45%, 0.7);
}